<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ city }} Bike Share Analysis Report</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <h1>{{ city }} Bike Share Analysis Report</h1>
    <h2>Average Ride Duration per User Type</h2>
    <img src="{{ city }}_average_ride_duration_user_type.png" alt="Average Ride Duration per User Type">
    <h2>Total Rides per Weekday</h2>
    <img src="{{ city }}_total_rides_per_day_of_week.png" alt="Total Rides per Weekday">
    <h2>Most Popular Start Stations</h2>
    <img src="{{ city }}_most_popular_stations.png" alt="Most Popular Stations">
    <h2>Rideable type by user category</h2>
    <img src="{{ city }}_rideable_type_by_user_category.png" alt="Rideable type by user category">
    <h2>Time slots for bike use </h2>
    <img src="{{ city }}_hourly_rides.png" alt="Hourly rides">
    <h2>Rideable type use</h2>
    <img src="{{ city }}_rideable_type_graph.png" alt="rideable type graph">
</body>

</html>